In [2]:
#### 16 Feb Assignment

###### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, management, and manipulation of the data. Databases are used to store and manage large volumes of data for various purposes, such as applications, websites, analytics, and more.

##### SQL (Structured Query Language) Databases:

SQL databases are relational databases that use structured query language (SQL) to manage and manipulate data. They are based on a schema that defines the structure of the data, including tables, columns, and relationships. 

Some characteristics of SQL databases include:

###### Tabular Structure: 
Data is stored in tables with rows and columns. Each column has a data type, and each row represents a record.

###### Data Integrity: 
SQL databases enforce data integrity rules using constraints like primary keys, foreign keys, and unique constraints.

###### ACID Transactions: 
ACID (Atomicity, Consistency, Isolation, Durability) properties ensure data consistency and reliability.

###### Standardized Query Language: 
SQL is used to query and manipulate data. Common SQL database systems include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

###### Schemas: 
Data is organized using predefined schemas, making it suitable for structured and well-defined data.

##### NoSQL (Not Only SQL) Databases:

NoSQL databases are non-relational databases designed for flexibility, scalability, and high-performance data storage and retrieval. They do not use a fixed schema and are particularly suited for unstructured or semi-structured data. 

Some characteristics of NoSQL databases include:

###### Document-Based: 
Data is stored as documents, which can be in formats like JSON or XML. Each document can have varying structures.

###### Scalability: 
NoSQL databases are designed to scale horizontally across multiple servers or nodes.

###### Flexible Schema: 
NoSQL databases can handle dynamic and changing data structures without requiring a predefined schema.

###### Types: 
There are different types of NoSQL databases, including document stores (e.g., MongoDB), key-value stores (e.g., Redis), column-family stores (e.g., Apache Cassandra), and graph databases (e.g., Neo4j).

###### CAP Theorem: 
NoSQL databases often follow the CAP theorem, which states that a distributed system can achieve at most two out of three: Consistency, Availability, and Partition Tolerance.

##### Key Differences:

###### Data Model:

SQL: Uses a structured, tabular data model with fixed schemas.
NoSQL: Uses a flexible, document-based or key-value data model with dynamic schemas.

###### Query Language:

SQL: Utilizes the SQL language for querying and manipulating data.
NoSQL: Each type of NoSQL database may have its query language, but they generally lack a standardized language like SQL.

###### Scalability:

SQL: Vertical scaling (scaling up resources) is common, but horizontal scaling can be challenging.
NoSQL: Designed for easy horizontal scaling across distributed systems.

###### Data Relationships:

SQL: Relational databases handle complex relationships through foreign keys.
NoSQL: Relationships can be represented but are typically more denormalized or managed programmatically.

###### Use Cases:

SQL: Suitable for structured and well-defined data with complex relationships.
NoSQL: Suited for unstructured or semi-structured data, high write loads, and applications requiring rapid scaling.

The choice between SQL and NoSQL databases depends on factors like the nature of the data, scalability needs, performance requirements, and the development team's familiarity with the technology.

###### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define, manage, and modify the structure of database objects. DDL statements are responsible for creating, altering, and deleting database objects such as tables, indexes, views, and schemas. Unlike DML (Data Manipulation Language), which deals with data manipulation, DDL focuses on the organization and layout of data within the database.

Here are explanations and examples of commonly used DDL statements:

1. CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, and views.

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Salary DECIMAL(10, 2)
);

2. DROP: The DROP statement is used to delete existing database objects, such as tables, indexes, and views.

DROP TABLE Customers;

3. ALTER: The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns.

ALTER TABLE Employees ADD Email VARCHAR(100);

4. TRUNCATE: The TRUNCATE statement is used to remove all rows from a table while retaining the table's structure. It is a faster alternative to the DELETE statement for removing all data.

TRUNCATE TABLE Orders;

###### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML statements allow you to insert, update, and delete data within tables. Unlike DDL (Data Definition Language), which focuses on defining and managing the structure of database objects, DML focuses on interacting with the actual data stored in the database.

Here are explanations and examples of commonly used DML statements:

1. INSERT: The INSERT statement is used to add new records (rows) into a table.

INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
VALUES (1, 'John', 'Doe', 'john@example.com');

2. UPDATE: The UPDATE statement is used to modify existing records in a table.

UPDATE Customers
SET Email = 'cust1@example.com'
WHERE CustomerID = 1;

3. DELETE: The DELETE statement is used to remove records from a table

DELETE FROM Customers
WHERE CustomerID = 1;

###### Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL is focused on querying the database to retrieve specific information based on specified criteria. The primary DQL statement is the SELECT statement, which is used to retrieve data from one or more tables in a database.

1. SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the table(s) you want to query, and optional filtering criteria using the WHERE clause.

SELECT FirstName, LastName
FROM Customers
WHERE Balance > 100;

###### Q5. Explain Primary Key and Foreign Key.

Primary Key and Foreign Key are two fundamental concepts in relational databases that define relationships between tables and ensure data integrity. They are used to establish connections between different tables and maintain consistency in the data.

#### Primary Key:
A Primary Key is a unique identifier for each record (row) in a table. It ensures that each row can be uniquely identified and accessed within the table. The primary key enforces the integrity and uniqueness of the data in the table. In most databases, primary keys are implemented using indexes, which improve query performance.

##### Key characteristics of a primary key:

1. Uniqueness: Each value in the primary key column must be unique across all rows in the table.

2. Not Null: A primary key column cannot contain null values, as null values cannot uniquely identify a record.

3. Persistence: The primary key remains constant for the lifetime of the record.

Example: Consider a table named Students with a primary key StudentID. Each student's ID is unique and serves as the primary key for identifying individual students.

#### Foreign Key:
A Foreign Key is a column or set of columns in one table that refers to the primary key of another table. It establishes a link between the data in two tables, representing a relationship between them. Foreign keys ensure referential integrity, meaning that the data in the related tables remains consistent.

##### Key characteristics of a foreign key:

1. References Primary Key: The foreign key column in one table refers to the primary key column in another table.

2. Maintains Relationships: Foreign keys maintain relationships between data in different tables.

3. Data Integrity: Foreign keys enforce referential integrity, preventing the insertion of invalid or inconsistent data.

Example: Consider two tables, Orders and Customers, where the CustomerID in the Orders table is a foreign key that references the primary key CustomerID in the Customers table. This establishes a relationship between orders and customers.

In summary, primary keys uniquely identify records within a table, while foreign keys establish relationships between tables by linking to the primary key of another table. Together, primary and foreign keys play a crucial role in maintaining data integrity, ensuring accurate relationships, and enabling effective querying and manipulation of data in relational databases.

###### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
con = mysql.connector.connect(
    host= "yourhost",
    user="youruser",
    password="yourpassword",
    database="yourdatabase")

cursor = con.cursor()
cursor.execute("CREATE TABLE if not exists TABLENAME (column1 int, column2 varchar(255))")

cursor.execute("insert into persons values(1, 'abcdef')")
cursor.execute('insert into persons values(2, "adfas")')
cursor.execute("insert into persons values(3, 'asdadsg')")

con.commit()

cursor.close()
con.close()

###### Q7. Give the order of execution of SQL clauses in an SQL query.

In a standard SQL query, the clauses are generally executed in the following order:

###### FROM: 
This clause specifies the tables from which you are selecting data.

###### JOIN: 
If you are using any join operations to combine multiple tables, they are typically executed after the FROM clause.

###### WHERE: 
The WHERE clause is used to filter rows based on a specified condition.

###### GROUP BY: 
If you are performing grouping, the GROUP BY clause is used to group rows based on a specified column or columns.

###### HAVING: 
The HAVING clause is used to filter groups based on a specified condition after the GROUP BY clause.

###### SELECT: 
The SELECT clause is used to specify the columns you want to retrieve.

###### DISTINCT: 
If you use the DISTINCT keyword, it is applied to the columns specified in the SELECT clause.

###### ORDER BY: 
The ORDER BY clause is used to sort the result set based on one or more columns.

###### LIMIT / OFFSET: 
These clauses limit the number of rows returned and are usually applied last.